In [123]:
mylist=['apple','banana','cherry','orange','kiwi','mango']
mylist1=[1,2,4,5]
x=mylist+mylist1
x

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 1, 2, 4, 5]

In [124]:
list2=[9,8,7,6]
list2=[x]+[list2]
list2

[['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 1, 2, 4, 5],
 [9, 8, 7, 6]]

In [125]:
list2=[9,8,7,6]
mylist=['apple','banana','cherry','orange','kiwi','mango']
for i in mylist:
    list2.append(i)
list2

[9, 8, 7, 6, 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango']

In [126]:
t=(2,4,6,8,10)
l=list(t)
l.append(88)
print(l)
t=tuple(l)
t

[2, 4, 6, 8, 10, 88]

(2, 4, 6, 8, 10, 88)

In [127]:
mylist=['apple','banana','cherry','orange','kiwi','mango']
mylist.sort()
mylist

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange']

In [128]:
mylist=['apple','banana','cherry','orange','kiwi','mango']
mylist.sort(reverse = True)
print(mylist)

['orange', 'mango', 'kiwi', 'cherry', 'banana', 'apple']

In [129]:
mytuple=['apple','banana','cherry','orange','kiwi','mango','banana']
print(mytuple[6:])
mylist=['apple','banana','cherry','orange','mango','grape','pineapple']
print(mylist[:7])

['banana']
['apple', 'banana', 'cherry', 'orange', 'mango', 'grape', 'pineapple']

In [130]:
x=['apple','banana','cherry']
y=list(x)
y[2]="kiwi"
x=tuple(y)

print(x)

('apple', 'banana', 'kiwi')

In [131]:
fruit =('apple','banana','cherry','orange','kiwi','mango')
(red,yellow,green,white,darkgreen,yellow)= fruit
mylist=['apple','banana','cherry','orange','kiwi','mango']
print(green)
print(yellow)
print(red)

cherry
mango
apple

In [133]:
fruit=['apple','banana','cherry','orange','kiwi','mango',22,32,56,89]
(green,*tropic,yellow,red)= fruit
print(green)
print(tropic)
print(red)

apple
['banana', 'cherry', 'orange', 'kiwi', 'mango', 22, 32]
89

In [134]:
mylist=['apple','banana','cherry','orange','kiwi','mango']
for i in mytuple:
    print(i)

apple
banana
cherry
orange
kiwi
mango
banana

In [135]:
mylist=['apple','banana','cherry','orange','kiwi','mango']
for i in range(len(mylist)):
    print(mylist[i])

apple
banana
cherry
orange
kiwi
mango

In [136]:
mytuple1=('a','b','c','d')
mytuple2=(1,2,3)
mytuple3=mytuple1+mytuple2
print(mytuple3)

('a', 'b', 'c', 'd', 1, 2, 3)

In [143]:
mytuple=('apple','banana','cherry','orange','kiwi','mango')
mylist = mytuple.count(5)
mylist

0